body {
  background-color: #d6ebf2 ;
}
#box {
  position: relative;
  margin: auto;
  margin-top: 200px;
  display: block;
  width: 600px;
  height: 420px;
}
#body {
  position: absolute;
  height: 40%;
  width: 50%;
  top: 20%;
  left: 25%;
  background-color: white;
  border-radius: 45%;
}
#frontRleg {
  position: absolute;
  height: 20%;
  width: 15%;
  bottom: 5%;
  left: 5%;
  background-color: white;
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}
#frontLleg {
  position: absolute;
  height: 20%;
  width: 15%;
  bottom: -10%;
  left: 25%;
  background-color: white;
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}
#backRleg {
  position: absolute;
  height: 20%;
  width: 15%;
  bottom: -3%;
  right: 20%;
  background-color: white;
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}
#backLleg {
  position: absolute;
  height: 20%;
  width: 15%;
  bottom: -1%;
  right: 8%;
  background-color: white;
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}
